@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-box-0 {
    clip-path: none;
  }

  .clip-path-box-1 {
    clip-path: polygon(
      0% 0%,
      0% 0%,
      0% 0%,
      9.69% 3.539%,
      19.497% 6.304%,
      29.394% 8.293%,
      39.35% 9.507%,
      49.338% 9.945%,
      59.329% 9.608%,
      69.293% 8.495%,
      79.201% 6.607%,
      89.026% 3.942%,
      98.738% 0.501%,
      100% 0%,
      100% 100%,
      90.524% 97.627%,
      90.524% 97.627%,
      82.34% 95.791%,
      74.117% 94.369%,
      65.866% 93.361%,
      57.596% 92.768%,
      49.317% 92.589%,
      41.039% 92.824%,
      32.771% 93.473%,
      24.525% 94.537%,
      16.308% 96.015%,
      8.132% 97.906%,
      0% 100%,
      0% 0%
    );
  }
}
